<footer>
    <div class="wrapper">
        <div class="footer">
            <div class="footer__copyright">
                <p>© Agata Makarewicz 2019</p>
            </div>
            <nav class="footer__nav">
                <ul>
                    <li><a href="">Strona główna</a></li>
                    <li><a href="">Wszystkie wpisy</a></li>
                    <li><a href="">O mnie</a></li>
                    <li><a href="">Kontakt</a></li>
                    </ul>
            </nav>
        </div>
    </div>    
</footer>