$black: #1f1f1f;
$gray: hsla(0, 0%, 32%, 1);
$gray-70: hsla(0, 0%, 32%, 0.7);
$gray-50: hsla(0, 0%, 32%, 0.5);
$gray-4: hsla(0, 0%, 32%, 0.04);
$navy: hsla(204, 66%, 16%, 1);
$blue: hsla(180, 67%, 47%, 1);
$red: hsla(0, 100%, 64%, 1);
$red-60: hsla(0, 100%, 64%, 0.6);
$red-50: hsla(0, 100%, 64%, 0.5);
$white: #fff;