footer {
    background: $white;
    padding: 32px 0;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.footer__copyright {
    padding-bottom: 1rem;

    p {
        font-size: 14px;
        line-height: 24px;
        color: $gray;
    }
}

.footer__nav {
    // text-align: right;

    ul {
        list-style: none;
    }

    li {

        a {
            text-decoration: none;
            color: $gray;
            display: block;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;

            &:hover {
                color: $red;
            }
        }
    }
}