footer {
    background: $white;
    padding: 32px 0;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 620px) {
        flex-direction: row;
    }
}

.footer__copyright {
    padding-bottom: 1rem;

    @media only screen and (min-width: 620px) {
        text-align: left;
        flex-basis: 50%;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        color: $gray;
    }
}

.footer__nav {

    @media only screen and (min-width: 620px) {
        text-align: right;
        flex-basis: 50%;
    }

    ul {
        list-style: none;
    }

    li {

        a {
            text-decoration: none;
            color: $gray;
            display: block;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;

            &:hover {
                color: $red;
            }
        }
    }
}