.main-nav {
    background: $white;
    padding: 16px 0 8px;
    text-align: center;
    border-bottom: 2px solid $gray-4;
}

.main-nav__menu {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
        a {
            text-decoration: none;
            color: $gray;
            display: inline-block;
            padding: 8px;

            &:hover,
            &:focus {
                color: $red;
            }
        }
    }
}