---

---

@import "reset";
@import "colors";
@import "typography";
@import "grid";
@import "main-nav";
@import "header";
@import "footer";

html {
    box-sizing: border-box;
  }
  
*,
*:before,
*:after {
    box-sizing: inherit;
  }

body {
    color: $black;
    background-color: $gray-4;
}

.navy {
  color: $navy;
}

.white {
  color: $white;
}