---

---

@import "reset";
@import "colors";
@import "typography";
@import "grid";
@import "main-nav";
@import "header";
@import "footer";
@import "latest-posts";

html {
    box-sizing: border-box;
  }
  
*,
*:before,
*:after {
    box-sizing: inherit;
  }

body {
    color: $black;
    background-color: $gray-4;
    min-height: 100vh;
}

.wrapper {
  padding: 0 1.5rem;
  margin: 0 auto;
}
