html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    color: #1f1f1f;
    background-color: hsla(0, 0%, 32%, 0.04);
}

.container {
    width: 940px;
    margin: 0 auto;
}